<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Contactate con nosotros</h2>
                    <p>Con Fichaje Futbol, tenes contacto mas directo con los clubs de los jugadores que te interesen. ¡Y
                        siempre es seguro!</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2>Confianza, de principio a fin</h2>
                    <p>Nuestra informacion esta siempre al dia!</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>¡Cada vez somos mas!</h2>
                    <p>Solo por estar registrado podes conseguir descuento para presenciar un partido de tu club preferido. Es un
                        beneficio de F.F.</p>
                </article>
            </div>
            
        </div>
    </div>
</footer>