<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %> 

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/productos/crear-producto" method="post" enctype="multipart/form-data">
				<input type="text" required name="nombre" placeholder="nombre">
				<input type="text" required name="apellido" placeholder="apellido">
				<input type="date" required name="nacimiento" placeholder="nacimiento">
				<input type="text" required name="nacionalidad" placeholder="nacionalidad">
				<input type="text" required name="club" placeholder="club">
				<input type="text" required name="posicion" placeholder="posicion">
				<input type="text" required name="trayectoria" placeholder="trayectoria">
				<input type="text" required name="fisico" placeholder="fisico">
				<input type="text" required name="valor_mercado" placeholder="valor de Mercado">
				<input type="text" required name="descripcion" placeholder="descripcion"> 
				<input type="file" required name="imagen"> 
				<input type="submit" value="guardar">
			</form>

	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>

</html>