<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
 <%- include('./partials/head') %> 

<body>
	<!-- Header -->
	<%- include('./partials/header') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title"> <strong>Resultados</strong></h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Aca vendrian los resultados de busqueda del cliente</h2>
					</div>
					
			
		</div>
	</div>
			


	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>

</html>