<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %> 

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <br> <br>
				<form action="/users/registrar" method="get">
					<input  name="nombre" type="text" placeholder="nombre">
					<input  name="apellido" type="text" placeholder="apellido">
					<input  name="email" type="text" placeholder="email">
					<input  name="trabajo" type="text" placeholder="trabajo">
					<input  name="org" type="text" placeholder="organizacion">
					<input name="contraseña" type="password" placeholder="contraseña">
					<input name="actualizar" type="submit" value="actualizar">
				</form>
			</h2>
		</div>
	</div>

	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>

</html>